<div>
  <div>
  <center><img src="http://image.flaticon.com/icons/svg/181/181098.svg" height="80px" width="80px">
  <h1 id="header">TinyPay</h1><br>
  <center>
  </div>
  <div class="animations">
    <center>
    <div class="loader">
      <div class="ring1">
        <div class="ring2">
          <div class="ring3">
            <div class="ring4">
            </div>
          </div>
        </div>
      </div>
    </div>
    </center>
  </div>


  <!-- <div class="container">
    <h1>TinyPay</h1>
    <p>Send all of your texts to +14152752690 to begin sending monies.</p>


    <p>Test it out:</p>
    <form action="/messages/reply" method="post">
      <label>Enter your phone number</label>
      <input type="text" name="From">
      <br>
      <label>Send 'Tiny' to your phone</label>
      <input type="text" name="Body">
      <br>
      <input type="submit" action="submit" name="Go!">
    </form>


    <% if @success %>
      <%= @success %>
    <% end %>
  </div> -->

</div>
