<div>
  <h1>Welcome to Tiny Pay</h1>
  <p>Payment in process...</p>
  <div class="loader">
    <div class="ring1">
      <div class="ring2">
        <div class="ring3">
          <div class="ring4">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
