// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header{
  // font-size: x-large;
  font-size: 3em;
}

.animatedText{
  font-size: 2em;
}
.ring1{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: transparent;
  position: absolute;
  left: 62%;
  top: 52%;
  animation: rotate 3s infinite linear;
  border-left: 5px solid #e74c3c;
  border-bottom: 5px solid #f39c12;
  border-right: 5px solid #e74c3c;
  border-top: 5px solid #f39c12 ;
}
.ring2{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: transparent;
  animation: rotate 2s infinite linear;
  border-left: 5px solid #e74c3c;
  border-bottom: 5px solid #e74c3c;
  border-right: 5px solid #e74c3c;
  border-top: 5px solid #f39c12;
}
.ring3{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: transparent;
  animation: rotate 1s infinite linear;
  border-left: 5px solid #e74c3c;
  border-bottom: 5px solid #e74c3c;
  border-right: 5px solid #e74c3c;
  border-top: 5px solid #f39c12 ;
}
.ring4{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: transparent;
  animation: rotate .90s infinite linear;
  border-left: 5px solid #e74c3c;
  border-bottom: 5px solid #e74c3c;
  border-right: 5px solid #e74c3c;
  border-top: 5px solid #f39c12;
}
@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}




.foo{
    background-image : url('semi-trans.png');
    z-index : 10;
    position : relative;
    top : 0;
    left : 0;
}

body, html {
  background-image: url('http://www.freepptbackgrounds.net/wp-content/uploads/2013/05/Grey-Background-Abstract-Design.jpg');
	// background: #d3d3d3;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
	color: #333333;
	text-align: center;
  font-family: 'Muli', sans-serif;
}

#spinner {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0.8;
	position: relative;
	// top: 50%;
	// left: 50%;
	// margin-top: -50px;
	// margin-left: -50px;
	height: 100px;
	width: 100px;
	background: none;
	border-radius: 100px;
	border-top: 15px solid #e74c3c;
	border-bottom: 15px solid #e74c3c;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;

	-webkit-animation: spin 10s infinite alternate linear, glow 5s infinite alternate linear;
	-moz-animation: spin 10s infinite alternate linear, glow 5s infinite alternate linear;
	-ms-animation: spin 10s infinite alternate linear, glow 5s infinite alternate linear;
	-o-animation: spin 10s infinite alternate linear, glow 5s infinite alternate linear;
	animation: spin 10s infinite alternate linear, glow 5s infinite alternate linear;
}

#spinner:before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	padding: 15px;
	background: none;
	position: relative;
	top: -30px;
	left: -30px;
	z-index: -1;
	border-radius: 115px;
	border: 15px solid #f39c12;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;

	-webkit-animation: spin2 5s infinite alternate linear, glow 3s infinite alternate linear;
	-moz-animation: spin2 5s infinite alternate linear, glow 3s infinite alternate linear;
	-ms-animation: spin2 5s infinite alternate linear, glow 3s infinite alternate linear;
	-o-animation: spin2 5s infinite alternate linear, glow 3s infinite alternate linear;
	animation: spin2 5s infinite alternate linear, glow 3s infinite alternate linear;
}

#spinner:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	padding: 30px;
	background: none;
	position: relative;
	top: -205px;
	left: -45px;
	z-index: -2;
	border-radius: 130px;
	border: 15px solid #e74c3c;
	border-left: 15px solid transparent;
	border-bottom: 15px solid transparent;

	-webkit-animation: spin 2s infinite alternate ease both, glow 10s infinite alternate linear;
	-moz-animation: spin 2s infinite alternate ease both, glow 10s infinite alternate linear;
	-ms-animation: spin 2s infinite alternate ease both, glow 10s infinite alternate linear;
	-o-animation: spin 2s infinite alternate ease both, glow 10s infinite alternate linear;
	animation: spin 2s infinite alternate ease both, glow 10s infinite alternate linear;
}

@keyframes "spin" {
 0% {
    -webkit-transform: rotate(360deg);
   	-moz-transform: rotate(360deg);
   	-o-transform: rotate(360deg);
   	-ms-transform: rotate(360deg);
   	transform: rotate(360deg);
 }
 100% {
    -webkit-transform: rotate(0deg);
   	-moz-transform: rotate(0deg);
   	-o-transform: rotate(0deg);
   	-ms-transform: rotate(0deg);
   	transform: rotate(0deg);
 }

}

@-moz-keyframes spin {
 0% {
   -moz-transform: rotate(360deg);
   transform: rotate(360deg);
 }
 100% {
   -moz-transform: rotate(0deg);
   transform: rotate(0deg);
 }

}

@-webkit-keyframes "spin" {
 0% {
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
 }
 100% {
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
 }

}

@-ms-keyframes "spin" {
 0% {
   -ms-transform: rotate(360deg);
   transform: rotate(360deg);
 }
 100% {
   -ms-transform: rotate(0deg);
   transform: rotate(0deg);
 }

}

@-o-keyframes "spin" {
 0% {
   -o-transform: rotate(360deg);
   transform: rotate(360deg);
 }
 100% {
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
 }

}

@keyframes "spin2" {
 0% {
    -webkit-transform: rotate(0deg);
   	-moz-transform: rotate(0deg);
   	-o-transform: rotate(0deg);
   	-ms-transform: rotate(0deg);
   	transform: rotate(0deg);
 }
 100% {
    -webkit-transform: rotate(360deg);
   	-moz-transform: rotate(360deg);
   	-o-transform: rotate(360deg);
   	-ms-transform: rotate(360deg);
   	transform: rotate(360deg);
 }

}

@-moz-keyframes spin2 {
 0% {
   -moz-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 100% {
   -moz-transform: rotate(360deg);
   transform: rotate(360deg);
 }

}

@-webkit-keyframes "spin2" {
 0% {
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 100% {
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
 }

}

@-ms-keyframes "spin2" {
 0% {
   -ms-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 100% {
   -ms-transform: rotate(360deg);
   transform: rotate(360deg);
 }

}

@-o-keyframes "spin2" {
 0% {
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 100% {
   -o-transform: rotate(360deg);
   transform: rotate(360deg);
 }

}

@keyframes "glow" {
 0% {
    -webkit-box-shadow: none;
   	box-shadow: none;
 }
 50% {
    -webkit-box-shadow: 10px -10px 30px #fff, -10px 10px 30px #fff;
   	box-shadow: 10px -10px 30px #fff, -10px 10px 30px #fff;
 }
 100% {
    -webkit-box-shadow: none;
   	box-shadow: none;
 }

}

@-moz-keyframes glow {
 0% {
   box-shadow: none;
 }
 50% {
   box-shadow: 10px -10px 30px #fff, -10px 10px 30px #fff, inset 10px -10px 30px #fff, inset -10px 10px 30px #fff;
 }
 100% {
   box-shadow: none;
 }

}

@-webkit-keyframes "glow" {
 0% {
   -webkit-box-shadow: none;
   box-shadow: none;
 }
 50% {
   -webkit-box-shadow: 10px -10px 30px #fff, -10px 10px 30px #fff, inset 10px -10px 30px #fff, inset -10px 10px 30px #fff;
   box-shadow: 10px -10px 30px #fff, -10px 10px 30px #fff, inset 10px -10px 30px #fff, inset -10px 10px 30px #fff;
 }
 100% {
   -webkit-box-shadow: none;
   box-shadow: none;
 }

}

@-ms-keyframes "glow" {
 0% {
   box-shadow: none;
 }
 50% {
   box-shadow: 10px -10px 30px #fff, -10px 10px 30px #fff, inset 10px -10px 30px #fff, inset -10px 10px 30px #fff;
 }
 100% {
   box-shadow: none;
 }

}

@-o-keyframes "glow" {
 0% {
   box-shadow: none;
 }
 50% {
   box-shadow: 10px -10px 30px #fff, -10px 10px 30px #fff, inset 10px -10px 30px #fff, inset -10px 10px 30px #fff;
 }
 100% {
   box-shadow: none;
 }

}
